body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background-color: gold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: #04b3f8;
    color: rgb(9, 3, 3);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}